*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: unset;

}
.input-div{
    padding: 10px;
    margin: 10px;
}
.input-div input{box-shadow: 0 4px 7px 0 rgba(168, 168, 168, 0.6);
    padding: 10px;
    width: 50%;
    border: 1px solid;
    border-color: gray;
    outline-style: none;

}
.input-div-1 button{
    padding: 10px;
    margin: 3%;
    outline-style: none;
    width: fit-content;
    background-color: rgb(212, 212, 212);
}
.input-div-1 button:hover{
    background-color: rgb(79, 126, 138);
}
th{
    background-color: rgb(90, 146, 146);
    padding: 10px;
    margin: 10px;
}

td {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
      text-align: center;
    /* make the list items unselectable */
   
  }
 
  
  
 
  
  /* Style the "Add" button */
  button {
    padding: 10px;
    /* width: 25%; */
    background: #f6ef9e;
    color: rgb(5, 5, 5);
    /* float: left; */
    text-align: center;
    font-size: 16px;
    /* cursor: pointer; */
    transition: 0.3s;
    border-radius: 10px;
    border: none;
  }
  
  button:hover {
    background-color: rgb(139, 139, 131);
  }


 
  .user-list-name{
     margin: 10px;
  }

  .user-form{text-align: center;box-shadow: 0 4px 7px 0 rgba(42, 43, 44, 0.6);
    width: fit-content;
    height: fit-content;
    border: 1px solid;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    background-image: linear-gradient(#0fb4bc,#f6ef9e);
   
  }
  li{
    padding: 10px;
    font-size: 20px;


  }
  ul{
    list-style: none;
    padding: 10px;
  }
  .user-button{
    display: flex;
    justify-content: center;
  }
  .card{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;
    padding: 10px;
   

  }
  .user-font{
    font-size: 40px;
  }
  .social-icon svg{
  margin: 10px;
    padding: 1px;
  }


